.carousel {
  position: relative;
  
}

.carousel__container {
    display:flex;
    height: 100vh;
  z-index: 4;
}

.carousel__button.active{
  padding: 0.1rem 0.5rem;
  background-color: rgb(71, 69, 69);

}
.carousel__button{
  padding: 0.1rem 0.25rem;
  border-radius: 2rem;
  margin: 0 0.2rem;
  background-color: black;
}
.carousel__slide {
  display: block;
  opacity: 0.4;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in;
}


.carousel__buttons {
  position: absolute;
  top: 97%;
  left: 50%;
   
}

.carousel__slide.active {
    width: 100%;
    opacity:1;
  display: block;

}


.carousel__slide img {
width: 100%;
height: 60vh;
margin: 10vh 10% 29vh 10%; 
}
.slide-content{
  position: absolute;
  top: 75%;
  margin: 0 25%;
  text-align: center;
}
.carousel__prev,
.carousel__next {
  position: absolute;
top: 0%;
width:30%;
height: 100%;
opacity: 0;}

.carousel__prev {
  left: 0;
  padding: 0.6rem 1rem;
}

.carousel__next {
  right: 0;
    padding: 0.6rem 1rem;

}
