.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  z-index: 1;
}

.dropdown-menu li {
  margin-bottom: 5px;
align-content: flex-end;  width: 10rem;
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f5c2bd;
  color:#fff;
}

.dropdown-toggle:hover .dropdown-menu {
  display: block;
}

.nav-bar {
  width: 53%;
}
.nav-bar li {
  display: flex;
  float: left;
}

.nav-link {
  font-size: 1.4rem;
  padding: 2.8rem 2rem;
  font-weight: bold;
  color: rgb(34, 34, 34);
}
li .nav-link-join{
    background-color: #EE4524;
    padding: 2.8rem 4.6rem;
    font-size: 1.4rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
li .nav-link:hover{
    color: aqua;
}